Temp/
Library/
Build/
Builds/
build/
obj/
MasterServer/
*.sln
*.csproj
*.suo
*.exe
*.unityproj
/C3P0GitHub.userprefs
C3P0GitHub.userprefs
Assets/Resources/data.dat
/Assets/Resources/data.dat
/Assets/MasterServer/MasterServer.exe
/Assets/MasterServer/MasterServer.exe.meta
